<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472217818215-loaj563nfjm1drh4vvdnmmphiqu1qn8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472217818215-loaj563nfjm1drh4vvdnmmphiqu1qn8u</string>
	<key>API_KEY</key>
	<string>AIzaSyCYhtPYZhDnMOkKPHeSFOqPE3ThCWPQLDM</string>
	<key>GCM_SENDER_ID</key>
	<string>472217818215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Resolutek-Agent.ServiceProvider123</string>
	<key>PROJECT_ID</key>
	<string>serviceproviderowner</string>
	<key>STORAGE_BUCKET</key>
	<string>serviceproviderowner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:472217818215:ios:2d5e30dde10e00a318b0c2</string>
</dict>
</plist>
